{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <h3 class="text-center">Liste des contacts</h3>

<div class="container  table-responsive">

    <table class="table  table-hover ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Firstname</th>
                <th>Email</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>

        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.description }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <a href="{{ path('contact_new') }}" type="button" class="btn ml-5 mt-5">Créer nouveau</a>


{% endblock %}
